<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=AMIT-DEV8\SQLEXPRESS;Initial Catalog=MC_BAJAJ;User ID=sa;Password=pctadmin$123;" />
  </connectionStrings>
  <appSettings>
    <add key="EnableLogs" value="true" />
    <!--MongoDB Insertion-->
    <add key="EnableMongoDBInsertion" value="true" />
    <add key="MongodbConnectionString" value="mongodb://127.0.0.1:27017" />
    <add key="MongoDatabase" value="MC_BAJAJ" />
    <!-- Enable/disable data collection for production analytics -->
    <add key="LiveDataEnabled" value="true" />
    <!-- Enable/disable Offset Correction -->
    <add key="OffsetCorrectionEnabled" value="false" />
    <add key="SendCumulativeOffsetCorrectionValue" value="true" />
    <add key="IgnoreOffsetCorrectionForValueLessThan" value="0.005" />
    <!--****************   PROGRAM AUTODOWNLOAD   ***************************************-->
    <add key="EnableAutoProgramDownload" value="false" />
    <!-- Program download frequency in minutes -->
    <add key="DownloadFreq" value="10" />
    <!-- true => AutoDownload and save program EveryTime If Not Same As Master program  .
         false => AutoDownload and save program only If Not Same As Master program  and Previous saved autoDownload programs.
    -->
    <add key="AutoDownloadEveryTimeIfNotSameAsMaster" value="false" />
    <add key="EnableSMSforProgramChange" value="false" />
    <add key="CampareSubProgramInPATH2" value="false" />
    <!-- if macro flag at machine is high(1), do not dprint at machine. value="0" means this feature is disabled.-->
    <add key="OperationHistory_FlagLocation" value="0" />
    <!-- if falg is high(1), do not download the operation history at s/w. value="0" means this feature is disabled.-->
    <add key="DPRINT_FlagLocation" value="0" />
    <!-- BFL inspection data capture. -->
    <!-- Enter the data ready Flag Location. "0" to diable the feature  -->
    <add key="InspectionDataReadFlag" value="0" />
    <!-- ReadOffsetHistory. time delay in seconds.. -->
    <add key="TimeDealyForReadOffsetHistory" value="0" />
    <!--In minutes; 0 to disable the feature -->
    <add key="TimeDelayMachineParametersThread_MGTL" value="1" />
    <!--In minutes; 0 to disable the feature -->
    <add key="TimeDelayProcessParameterThread_FOF" value="1" />
    <add key="OffsetHistoryRange" value="1-64" />
    <!-- Read Predictive Maintenance delay time in Minutes  -->
    <add key="TimeDealyForPredictiveMaintenance" value="0" />
    <!-- Delay time in sec. 0 to disable the feature  -->
    <add key="TPMTrakDataCollectionTimeDelay" value="0" />
    <!-- Time Delay in min for data aggregation. Write "0" to disable auto aggregation -->
    <add key="TimeIntervalForDataAggregation" value="0" />
    <!-- CycleTime capture macro location starting address Prog:STDate:STTime:NDDate:NDTime:DataReadFlag -->
    <add key="CycleTimeMacroLocationStartingLocation" value="600" />
    <!-- Time Delay in second for Cycle data. Write "0" to disable Cycle Data collation -->
    <add key="TimeIntervalForCycleData" value="0" />
    <add key="TimeDelayForProcessParameter" value="4" />
    <add key="TimeDelayForGrindingCyclemonitoring" value="1" />
    <add key="ReadCountinue" value="true"/>
    <!-- TOOL LIFE SETTINGS -->
    <add key="CompMacrolocation" value="110" />
    <add key="OpnMacrolocation" value="120" />
    <!-- Wait time in seconds -->
    <add key="TimeDelayToolLifeThread" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>